.DS_Store
Package Control.cache
Package Control.last-run
Package Control.system-ca-bundle
Package Control.system-ca-bundle
bh_unicode_properties.cache
GutterColor.sublime-settings
AngularJS.cache
*(SL).tmTheme